## Nutrient Demands

### Introduction

In our last project we used data to estimate systems of food demand
using different datasets.  An output from that project was as set of
`cfe.Regression` objects; these bundle together both data and the results
from the demand system estimation, and can be used for prediction as
well.

Here we&rsquo;ll explore some of the uses of the `cfe.Regression` class, using
an instance created previously (as in Project 3).

After having estimated a demand system using data from our favorite country, we can imagine different counterfactual scenarios.  What if prices were different?  What if we give a cash transfer to a household?  What if school fees reduce the budget for food?  What are the consequences of any of these for diet & nutrition?

If you don&rsquo;t already have the latest version of the `CFEDemands` package
installed, grab it, along with some dependencies:

In [20]:
%pip install -r requirements.txt

Requirement already satisfied: CFEDemands>=0.4.1 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (0.6.1)
Requirement already satisfied: gspread>=5.0.1 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 7)) (5.12.4)
Requirement already satisfied: gspread_pandas>=3.2.0 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 8)) (3.3.0)
Requirement already satisfied: oauth2client>=4.1.3 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 11)) (4.1.3)
Requirement already satisfied: eep153_tools>=0.11 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 21)) (0.12.4)
Requirement already satisfied: python-gnupg in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 22)) (0.5.4)
Requirement already satisfied: ConsumerDemands in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 24)) (0.4.3.dev0)
Requirement already satisfied: dvc>=2.18.1 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.59.1)
Requirement already satisfied: joblib>=1.1.0 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: matplotlib>=3.5.1 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.10.1)
Requirement already satisfied: numpy>=1.21.5 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.2.4)
Requirement already satisfied: pandas>=1.4.2 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.2.3)
Requirement already satisfied: pytest>=7.1.1 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (8.3.5)
Requirement already satisfied: ray>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.44.1)
Requirement already satisfied: scipy>=1.7.3 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.14.1)
Requirement already satisfied: statsmodels>=0.13.2 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.14.4)
Requirement already satisfied: xarray>=0.20.1 in /srv/conda/lib/python3.11/site-packages (from CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2025.1.1)
Requirement already satisfied: google-auth>=1.12.0 in /srv/conda/lib/python3.11/site-packages (from gspread>=5.0.1->-r requirements.txt (line 7)) (2.38.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /srv/conda/lib/python3.11/site-packages (from gspread>=5.0.1->-r requirements.txt (line 7)) (1.2.1)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas>=3.2.0->-r requirements.txt (line 8)) (5.1.1)
Requirement already satisfied: httplib2>=0.9.1 in /srv/conda/lib/python3.11/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 11)) (0.22.0)
Requirement already satisfied: pyasn1>=0.1.7 in /srv/conda/lib/python3.11/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 11)) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /srv/conda/lib/python3.11/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 11)) (0.4.2)
Requirement already satisfied: rsa>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 11)) (4.9)
Requirement already satisfied: six>=1.6.1 in /srv/conda/lib/python3.11/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 11)) (1.17.0)
Requirement already satisfied: attrs>=22.2.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (25.3.0)
Requirement already satisfied: celery in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.5.1)
Requirement already satisfied: colorama>=0.3.9 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.4.6)
Requirement already satisfied: configobj>=5.0.9 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.0.9)
Requirement already satisfied: distro>=1.3 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.9.0)
Requirement already satisfied: dpath<3,>=2.1.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.2.0)
Requirement already satisfied: dulwich in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.22.8)
Requirement already satisfied: dvc-data<3.17,>=3.16.2 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.16.9)
Requirement already satisfied: dvc-http>=2.29.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.32.0)
Requirement already satisfied: dvc-objects in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.1.0)
Requirement already satisfied: dvc-render<2,>=1.0.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.0.2)
Requirement already satisfied: dvc-studio-client<1,>=0.21 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.21.0)
Requirement already satisfied: dvc-task<1,>=0.3.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.40.2)
Requirement already satisfied: flatten_dict<1,>=0.4.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.4.2)
Requirement already satisfied: flufl.lock<9,>=8.1.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (8.1.0)
Requirement already satisfied: fsspec>=2024.2.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2025.3.2)
Requirement already satisfied: funcy>=1.14 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.0)
Requirement already satisfied: grandalf<1,>=0.7 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.8)
Requirement already satisfied: gto<2,>=1.6.0 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.7.2)
Requirement already satisfied: hydra-core>=1.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.3.2)
Requirement already satisfied: iterative-telemetry>=0.0.7 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.0.10)
Requirement already satisfied: kombu in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.5.3)
Requirement already satisfied: networkx>=2.5 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.4.2)
Requirement already satisfied: omegaconf in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.3.0)
Requirement already satisfied: packaging>=19 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (24.2)
Requirement already satisfied: pathspec>=0.10.3 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: platformdirs<5,>=3.1.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.3.6)
Requirement already satisfied: psutil>=5.8 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.9.8)
Requirement already satisfied: pydot>=1.2.4 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.0.4)
Requirement already satisfied: pygtrie>=2.3.2 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.5.0)
Requirement already satisfied: pyparsing>=2.4.7 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.2.3)
Requirement already satisfied: requests>=2.22 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: rich>=12 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (13.9.4)
Requirement already satisfied: ruamel.yaml>=0.17.11 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.18.10)
Requirement already satisfied: scmrepo<4,>=3.3.8 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.3.10)
Requirement already satisfied: shortuuid>=0.5 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.0.13)
Requirement already satisfied: shtab<2,>=1.3.4 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.7.2)
Requirement already satisfied: tabulate>=0.8.7 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.9.0)
Requirement already satisfied: tomlkit>=0.11.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: tqdm<5,>=4.63.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.67.1)
Requirement already satisfied: voluptuous>=0.11.7 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.15.2)
Requirement already satisfied: zc.lockfile>=1.2.1 in /srv/conda/lib/python3.11/site-packages (from dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.0.post1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread>=5.0.1->-r requirements.txt (line 7)) (5.5.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib>=0.4.1->gspread>=5.0.1->-r requirements.txt (line 7)) (2.0.0)
Requirement already satisfied: contourpy>=1.0.1 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.4.7)
Requirement already satisfied: pillow>=8 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (11.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/lib/python3.11/site-packages (from matplotlib>=3.5.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.4.2->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.4.2->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2025.2)
Requirement already satisfied: iniconfig in /srv/conda/lib/python3.11/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: pluggy<2,>=1.5 in /srv/conda/lib/python3.11/site-packages (from pytest>=7.1.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.5.0)
Requirement already satisfied: click>=7.0 in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (8.1.8)
Requirement already satisfied: filelock in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.18.0)
Requirement already satisfied: jsonschema in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.23.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.29.3)
Requirement already satisfied: pyyaml in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (6.0.2)
Requirement already satisfied: aiosignal in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.3.2)
Requirement already satisfied: frozenlist in /srv/conda/lib/python3.11/site-packages (from ray>=2.0.0->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.5.0)
Requirement already satisfied: patsy>=0.5.6 in /srv/conda/lib/python3.11/site-packages (from statsmodels>=0.13.2->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.0.1)
Requirement already satisfied: dictdiffer>=0.8.1 in /srv/conda/lib/python3.11/site-packages (from dvc-data<3.17,>=3.16.2->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.9.0)
Requirement already satisfied: diskcache>=5.2.1 in /srv/conda/lib/python3.11/site-packages (from dvc-data<3.17,>=3.16.2->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.6.3)
Requirement already satisfied: sqltrie<1,>=0.11.0 in /srv/conda/lib/python3.11/site-packages (from dvc-data<3.17,>=3.16.2->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.11.2)
Requirement already satisfied: orjson<4,>=3 in /srv/conda/lib/python3.11/site-packages (from dvc-data<3.17,>=3.16.2->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.10.16)
Requirement already satisfied: aiohttp-retry>=2.5.0 in /srv/conda/lib/python3.11/site-packages (from dvc-http>=2.29.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.9.1)
Requirement already satisfied: billiard<5.0,>=4.2.1 in /srv/conda/lib/python3.11/site-packages (from celery->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.2.1)
Requirement already satisfied: vine<6.0,>=5.1.0 in /srv/conda/lib/python3.11/site-packages (from celery->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.1.0)
Requirement already satisfied: click-didyoumean>=0.3.0 in /srv/conda/lib/python3.11/site-packages (from celery->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.3.1)
Requirement already satisfied: click-repl>=0.2.0 in /srv/conda/lib/python3.11/site-packages (from celery->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.3.0)
Requirement already satisfied: click-plugins>=1.1.1 in /srv/conda/lib/python3.11/site-packages (from celery->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.1.1)
Requirement already satisfied: atpublic in /srv/conda/lib/python3.11/site-packages (from flufl.lock<9,>=8.1.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.1.0)
Requirement already satisfied: entrypoints in /srv/conda/lib/python3.11/site-packages (from gto<2,>=1.6.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.4)
Requirement already satisfied: pydantic!=2.0.0,<3,>=1.9.0 in /srv/conda/lib/python3.11/site-packages (from gto<2,>=1.6.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.10.5)
Requirement already satisfied: semver>=2.13.0 in /srv/conda/lib/python3.11/site-packages (from gto<2,>=1.6.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.0.4)
Requirement already satisfied: typer>=0.4.1 in /srv/conda/lib/python3.11/site-packages (from gto<2,>=1.6.0->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.15.2)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /srv/conda/lib/python3.11/site-packages (from hydra-core>=1.1->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (4.9.3)
Requirement already satisfied: appdirs in /srv/conda/lib/python3.11/site-packages (from iterative-telemetry>=0.0.7->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.4.4)
Requirement already satisfied: amqp<6.0.0,>=5.1.1 in /srv/conda/lib/python3.11/site-packages (from kombu->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (5.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.22->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2025.1.31)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=5.0.1->-r requirements.txt (line 7)) (3.2.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /srv/conda/lib/python3.11/site-packages (from rich>=12->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /srv/conda/lib/python3.11/site-packages (from rich>=12->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.19.1)
Requirement already satisfied: ruamel.yaml.clib>=0.2.7 in /srv/conda/lib/python3.11/site-packages (from ruamel.yaml>=0.17.11->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (0.2.8)
Requirement already satisfied: gitpython>3 in /srv/conda/lib/python3.11/site-packages (from scmrepo<4,>=3.3.8->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (3.1.44)
Requirement already satisfied: pygit2>=1.14.0 in /srv/conda/lib/python3.11/site-packages (from scmrepo<4,>=3.3.8->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (1.17.0)
Requirement already satisfied: asyncssh<3,>=2.13.1 in /srv/conda/lib/python3.11/site-packages (from scmrepo<4,>=3.3.8->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (2.20.0)
Requirement already satisfied: setuptools in /srv/conda/lib/python3.11/site-packages (from zc.lockfile>=1.2.1->dvc>=2.18.1->CFEDemands>=0.4.1->-r requirements.txt (line 5)) (75.6.0)

In [21]:
import pandas as pd
import cfe.regression as rgsn

### From Sheet to DataFrame to Regression Object

We begin by defining a dictionary that contains the spreadsheet key.
One is provided for the Ugandan example that I wish to work
through.

In [22]:
Ethiopia_Data = '1qOZi1FqAS89x461pCIgwRaAfpBw5aUp7kBbp0tQKI_E'

With the spreadsheet defined , grab it and define a couple of
dataframes. (Sheets should be shared with `students@eep153.iam.gserviceaccount.com`):

In [23]:
import pandas as pd
import numpy as np
from eep153_tools.sheets import read_sheets

# Change 'Uganda_Data' to key of your own sheet in Sheets, above
x = read_sheets(Ethiopia_Data,sheet='Food Expenditures (2018-19)')
x = x.set_index(['i','t','m','j']).squeeze()


# Now prices
p = read_sheets(Ethiopia_Data,sheet='Food Prices (2018-19)').set_index(['t','m','j','u'])

# Compute medians of prices for particular time, place and unit
p = p.groupby(['t','m','j','u']).median()

# Just keep metric units
p = p.xs('Kg',level="u").squeeze().unstack('j')

# Get intersection of goods we have prices *and* expenditures for:
jidx = p.columns.intersection(x.index.levels[-1])

# Drop prices for goods we don't have expenditures for
p = p[jidx].T

# Household characteristics
d = read_sheets(Ethiopia_Data,sheet="Household Characteristics")
d.columns.name = 'k'

# Fill blanks with zeros
d = d.replace(np.nan,0)

# Expenditures x may have duplicate columns
x = x.T.groupby(['i','t','m','j']).sum()
x = x.replace(0,np.nan) # Replace zeros with missing

# Take logs of expenditures; call this y
y = np.log(x)

d.set_index(['i','t','m'],inplace=True)

This gives a dataframe of household characteristics $d$ with a simple structure.

In [24]:
d.head()

k                             Females 00-03  Females 04-08  Females 09-13  \
i             t       m
1010101601002 2011-12 Tigray              0              0              1
              2013-14 Tigray              1              1              1
              2015-16 Tigray              0              0              0
1010101601017 2011-12 Tigray              0              1              1
              2013-14 Tigray              1              1              1

k                             Females 14-18  Females 19-30  Females 31-50  \
i             t       m
1010101601002 2011-12 Tigray              0              0              1
              2013-14 Tigray              0              0              1
              2015-16 Tigray              0              0              0
1010101601017 2011-12 Tigray              0              0              1
              2013-14 Tigray              0              1              0

k                             Females 51-99  Males 00-03  Males 04-08  \
i             t       m
1010101601002 2011-12 Tigray              1            0            1
              2013-14 Tigray              1            0            1
              2015-16 Tigray              1            0            0
1010101601017 2011-12 Tigray              0            0            0
              2013-14 Tigray              0            0            1

k                             Males 09-13  Males 14-18  Males 19-30  \
i             t       m
1010101601002 2011-12 Tigray            1            1            0
              2013-14 Tigray            0            1            0
              2015-16 Tigray            0            0            0
1010101601017 2011-12 Tigray            2            0            0
              2013-14 Tigray            1            1            0

k                             Males 31-50  Males 51-99  log HSize
i             t       m
1010101601002 2011-12 Tigray            1            0   1.945910
              2013-14 Tigray            1            0   2.079442
              2015-16 Tigray            0            0   0.000000
1010101601017 2011-12 Tigray            1            0   1.791759
              2013-14 Tigray            1            0   2.079442

Also a dataframe of log expenditures $y$ with a similarly simple
structure.  Note that any expenditures of zero are dropped and
replaced with a missing value indicator.

In [25]:
y.head()

i                   t        m       j
010101088800910007  2018-19  Tigray  Coffee    3.401197
                                     Onion     2.197225
                                     Salt      1.098612
                                     Shiro     2.484907
                                     Sugar     2.484907
Name: Expenditure, dtype: float64

Finally, construct a regression object:

In [26]:
r = rgsn.Regression(y=y,d=d)

### Additional Data

Using the data on household characteristics and (log) expenditures, we can estimate the demand system (`d`,=y=).  This gives us predictions of expenditures on different kinds of foods.  Then if we divide these expenditures by prices, we get predicted quantities of food.

However, here we&rsquo;re interested in nutritional outcomes, so we need a food conversion table:

In [30]:
fct = read_sheets(Ethiopia_Data,sheet='FCT')

fct = fct.set_index("index")
fct.columns.name = 'n'

fct = fct.apply(lambda x: pd.to_numeric(x,errors='coerce'))

We also want to establish when nutrition is *adequate* for households with different compositions.  For this, we want data on recommended dietary intakes:

In [32]:
rdi = read_sheets(Ethiopia_Data,sheet='RDI')

rdi = rdi.set_index('n')
rdi.columns.name = 'k'

rdi = rdi.apply(lambda x: pd.to_numeric(x,errors='coerce'))

WorksheetNotFound: RDI

#### Pre-estimated Demand Systems

An instance `r` of `cfe.Regression` can be made persistent with
 `r.to_pickle('my_result.pickle')`, which saves the instance &ldquo;on disk&rdquo;, and can be loaded using `cfe.regression.read_pickle`.  We use  this method below to load data and demand system previously estimated for Uganda:

In [ ]:
# Assumes you've already set this up e.g., in Project 3
r = rgsn.read_pickle('../Project3/ethiopia_estimates.rgsn')

#### Reference Prices

Choose reference prices.  Here we&rsquo;ll choose a particular year, and average prices across markets.  If you wanted to focus on particular market you&rsquo;d do this differently.

In [29]:
# Reference prices chosen from a particular time; average across place.
# These are prices per kilogram:
pbar = p.loc[r.beta.index].mean(axis=1).fillna(1) # Only use prices for goods we can estimate

AttributeError: 'NoneType' object has no attribute 'index'

#### Budgets

Get food budget for all households, then find median budget:

In [1]:
import numpy as np

xhat = r.predicted_expenditures()

# Total food expenditures per household
xbar = xhat.groupby(['i','t','m']).sum()

# Reference budget
xref = xbar.quantile(0.5)  # Household at 0.5 quantile is median

#### Food Quantities

Get quantities of food by dividing expenditures by prices:

In [1]:
qhat = (xhat.unstack('j')/pbar).dropna(how='all')

# Drop missing columns
qhat = qhat.loc[:,qhat.count()>0]

qhat

Finally, define a function to change a single price in the vector $p$:

In [1]:
def my_prices(j,p0,p=pbar):
    """
    Change price of jth good to p0, holding other prices fixed at p.
    """
    p = p.copy()
    p.loc[j] = p0
    return p

### Demands

#### Demand functions

In [1]:
%matplotlib inline

In [36]:
import matplotlib.pyplot as plt

use = 'Matoke'  # Good we want demand curve for

# Vary prices from 50% to 200% of reference.
scale = np.linspace(.5,2,20)

# Demand for Matoke for household at median budget
plt.plot([r.demands(xref,my_prices(use,pbar[use]*s,pbar))[use] for s in scale],scale)

# Demand for Matoke for household at 25% percentile
plt.plot([r.demands(xbar.quantile(0.25),my_prices(use,pbar[use]*s,pbar))[use] for s in scale],scale)

# Demand for Matoke for household at 75% percentile
plt.plot([r.demands(xbar.quantile(0.75),my_prices(use,pbar[use]*s,pbar))[use] for s in scale],scale)

plt.ylabel(f"Price (relative to base of {pbar[use]:.2f})")
plt.xlabel(f"Quantities of {use} Demanded")

NameError: name 'xref' is not defined

#### Engel Curves

In [35]:
fig,ax = plt.subplots()

scale = np.geomspace(.01,10,50)

ax.plot(np.log(scale*xref),[r.expenditures(s*xref,pbar)/(s*xref) for s in scale])
ax.set_xlabel(f'log budget (relative to base of {xref:.0f})')
ax.set_ylabel(f'Expenditure share')
ax.set_title('Engel Curves')

NameError: name 'plt' is not defined

### Mapping to Nutrients

We&rsquo;ve seen how to map prices and budgets into vectors of consumption
 quantities using `cfe.Regression.demands`.  Next we want to think about
 how to map these into bundles of *nutrients*.  The information needed
 for the mapping comes from a &ldquo;Food Conversion Table&rdquo; (or database,
 such as the [USDA Food Data Central](https://fdc.nal.usda.gov/)).    We&rsquo;ve already grabbed an FCT, let&rsquo;s take a look:

In [33]:
fct

n,Energy,Protein,Vitamin A,Vitamin D,Vitamin E,Vitamin C,Vitamin B-6,Vitamin B-12,Calcium,Magnesium,...,Zinc,Fiber,Folate,Carbohydrate,Niacin,Phosphorus,Potassium,Riboflavin,Thiamin,Vitamin K
index,,,,,,,,,,,,,,,,,,,,,
Avocado,1601.338432,20.00000,70,0,20.7,100,2.570,0,120.00,290.0,...,6.400,67.00,810.0,85.30000,17.38,520.0,4850.0,1.300,0.6700,210.0
Banana,890.000000,11.00000,30,0,1.0,87,4.000,0,50.00,270.0,...,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barley,3490.000000,123.00000,0,0,10.0,0,2.000,0,260.00,920.0,...,20.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beef,3230.000000,249.00000,0,0,0.0,0,3.000,19,40.00,230.0,...,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beer,410.000000,3.00000,0,0,0.0,0,1.000,0,50.00,60.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beetroot,430.210325,16.10000,20,0,0.4,49,0.670,0,160.00,230.0,...,3.500,28.00,1090.0,95.60000,3.34,400.0,3250.0,0.400,0.3100,2.0
Berbere,74.869981,8.95625,0,0,0.0,1417,3.027,0,63.61,109.8,...,2.023,11.58,473.2,66.53175,10.24,265.9,2127.0,1.422,0.5494,0.0
Boye/Yam,970.000000,21.00000,0,0,50.0,120,2.000,0,80.00,260.0,...,5.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bread/biscuit,2740.000000,80.00000,0,0,0.0,0,0.000,0,100.00,270.0,...,9.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Butter/ghee,8760.000000,3.00000,9250,20,30.0,0,0.000,0,80.00,10.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cassava,1600.000000,14.00000,10,0,2.0,206,1.000,0,160.00,210.0,...,3.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cheese,3490.000000,76.00000,3660,0,3.0,0,0.000,4,800.00,60.0,...,5.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coffee,2000.000000,100.00000,0,0,0.0,0,0.000,0,3000.00,4000.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eggs,2780.000000,192.00000,8100,80,20.0,0,4.000,81,960.00,260.0,...,21.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fenugreek,3231.357553,230.00000,30,0,0.0,30,6.000,0,1760.00,1910.0,...,25.000,246.00,570.0,583.50000,16.40,2960.0,7700.0,3.660,3.2200,0.0
Fish,1120.000000,214.00000,430,120,10.0,0,3.000,11,480.00,860.0,...,4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Garlic,1489.005736,63.60000,0,0,0.8,312,12.350,0,1810.00,250.0,...,11.600,21.00,30.0,330.60000,7.00,1530.0,4010.0,1.100,2.0000,17.0
Goat & mutton meat,2690.000000,249.00000,0,0,0.0,0,3.000,19,40.00,230.0,...,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ground nuts,5670.000000,258.00000,0,0,90.0,0,3.000,0,920.00,1680.0,...,33.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Honey,3040.000000,3.00000,0,0,0.0,10,0.000,0,60.00,20.0,...,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injera,207.934990,34.80000,0,0,0.8,0,1.430,0,130.00,640.0,...,8.500,27.00,290.0,182.90000,17.12,890.0,1520.0,0.760,1.7400,17.0
Leafy Greens,230.000000,30.00000,8190,0,10.0,100,2.000,0,1360.00,870.0,...,8.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linseed,5880.000000,264.00000,70,0,20.0,0,2.000,0,1310.00,3470.0,...,103.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maize,590.000000,18.00000,70,0,0.0,30,0.000,0,10.00,180.0,...,3.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mango,650.000000,5.00000,380,0,11.0,277,1.000,0,100.00,90.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Meat,1670.000000,245.00000,270,0,0.0,0,2.000,2,90.00,140.0,...,13.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Milk,600.000000,32.00000,280,0,1.0,0,0.000,4,1150.00,120.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Moringa/Shiferaw/Halloka,640.535373,94.00000,3780,0,0.0,517,12.000,0,1850.00,420.0,...,6.000,20.00,400.0,82.80000,22.20,1120.0,3370.0,6.600,2.5700,0.0
Oats,3891.013384,168.90000,0,0,0.0,0,1.190,0,540.00,1770.0,...,39.700,106.00,560.0,662.70000,9.61,5230.0,4290.0,1.390,7.6300,0.0
Oils,8620.000000,0.00000,0,0,10.0,0,0.000,0,0.00,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onion,400.000000,13.00000,0,0,0.0,74,1.000,0,230.00,100.0,...,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Orange,470.000000,9.00000,80,0,0.0,530,1.000,0,400.00,100.0,...,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other cereal,0.000000,0.00000,0,0,0.0,0,0.000,0,0.00,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other pulse or nut,1160.000000,90.00000,30,0,0.0,50,5.000,0,510.00,960.0,...,35.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other vegetable,230.000000,85.00000,1460,0,0.0,445,2.000,0,969.00,550.0,...,6.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Papaya,427.820268,4.70000,470,0,3.0,609,0.380,0,200.00,210.0,...,0.800,17.00,370.0,108.20000,3.57,100.0,1820.0,0.270,0.2300,26.0
Pasta/Macaroni,3710.000000,105.00000,0,0,0.0,0,0.000,0,150.00,220.0,...,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Potato,930.000000,20.00000,0,0,67.0,186,7.000,0,50.00,250.0,...,3.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rice,3580.000000,65.00000,0,0,0.0,0,1.000,0,80.00,360.0,...,11.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salt,0.000000,0.00000,0,0,0.0,0,0.000,0,450.00,20.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Soda,540.000000,2.00000,1680,0,0.0,150,1.000,0,40.00,40.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sorghum,3280.000000,66.00000,50,0,0.0,0,2.000,0,2750.00,270.0,...,12.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sugar,3870.000000,0.00000,0,0,0.0,0,0.000,0,10.00,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweet potato,740.000000,12.00000,10560,0,40.0,180,2.000,0,200.00,140.0,...,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tea,10.000000,0.00000,0,0,0.0,0,0.000,0,20.00,20.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Teff,3671.128107,133.00000,0,0,0.8,0,4.820,0,1800.00,1840.0,...,36.300,80.00,0.0,731.30000,33.63,4290.0,4270.0,2.700,3.9000,19.0
Tella,410.000000,3.00000,0,0,0.0,0,1.000,0,50.00,60.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need the index of the Food Conversion Table (FCT) to match up with
 the index of the vector of quantities demanded.   To manage this we
 make use of the `align` method for `pd.DataFrames`:

In [34]:
# Create a new FCT and vector of consumption that only share rows in common:
fct0,c0 = fct.align(qhat.T,axis=0,join='inner')
print(fct0.index)

NameError: name 'qhat' is not defined

Now, since rows of `fct0` and `c0` match, we can obtain nutritional
 outcomes from the inner (or dot, or matrix) product of the transposed
 `fct0` and `c0`:

In [1]:
# The @ operator means matrix multiply
N = fct0.T@c0

N  #NB: Uganda quantities are for previous 7 days

Of course, since we can compute the nutritional content of a vector of
 consumption goods `c0`, we can also use our demand functions to
 compute nutrition as a *function* of prices and budget.

In [1]:
def nutrient_demand(x,p):
    c = r.demands(x,p)
    fct0,c0 = fct.align(c,axis=0,join='inner')
    N = fct0.T@c0

    N = N.loc[~N.index.duplicated()]
    
    return N

With this `nutrient_demand` function in hand, we can see how nutrient
 outcomes vary with budget, given prices:

In [1]:
import numpy as np
import matplotlib.pyplot as plt

X = np.linspace(xref/5,xref*5,50)

UseNutrients = ['Protein','Energy','Iron','Calcium','Vitamin C']

df = pd.concat({myx:np.log(nutrient_demand(myx,pbar))[UseNutrients] for myx in X},axis=1).T
ax = df.plot()

ax.set_xlabel('log budget')
ax.set_ylabel('log nutrient')

Now how does nutrition vary with prices?

In [1]:
USE_GOOD = 'Oranges'

scale = np.geomspace(.01,10,50)

ndf = pd.DataFrame({s:np.log(nutrient_demand(xref/2,my_prices(USE_GOOD,pbar[USE_GOOD]*s)))[UseNutrients] for s in scale}).T

ax = ndf.plot()

ax.set_xlabel('log price')
ax.set_ylabel('log nutrient')

### Nutritional Needs of Households

Our data on demand and nutrients is at the *household* level; we
   can&rsquo;t directly compare household level nutrition with individual
   level requirements.  What we **can** do is add up minimum individual
   requirements, and see whether household total exceed these.  This
   isn&rsquo;t a guarantee that all individuals have adequate nutrition
   (since the way food is allocated in the household might be quite
   unequal, or unrelated to individual requirements), but it is
   *necessary* if all individuals are to have adequate nutrition.

For the average household in our data, the number of
different kinds of people can be computed by averaging over households:

In [1]:
# In first round, averaged over households and villages
dbar = r.d[rdi.columns].mean()

Now, the inner/dot/matrix product between `dbar` and the `rdi`
DataFrame of requirements will give us minimum requirements for the
average household:

In [1]:
# This matrix product gives minimum nutrient requirements for
# the average household
hh_rdi = rdi@dbar

hh_rdi

## Nutritional Adequacy of Food Demands

Since we can trace out demands for nutrients as a function of $(x,p)$,
and we&rsquo;ve computed minimum nutritional requirements for the average
household, we can *normalize* nutritional intake to check the adequacy
of diet for a household with counts of different kinds of people given by `z`.

In [1]:
def nutrient_adequacy_ratio(x,p,d,rdi=rdi,days=7):
    hh_rdi = rdi.replace('',0)@d*days

    return nutrient_demand(x,p)/hh_rdi

In terms of normalized nutrients, any household with more than one
unit of any given nutrient (or zero in logs) will be consuming a
minimally adequate level of the nutrient; below this level there&rsquo;s
clearly nutritional inadequacy.  For this reason the ratio of
actual nutrients to required nutrients is termed the &ldquo;nutrient
adequacy ratio,&rdquo; or NAR.

In [1]:
X = np.geomspace(.01*xref,2*xref,100)

pd.DataFrame({x:np.log(nutrient_adequacy_ratio(x,pbar,dbar))[UseNutrients] for x in X}).T.plot()
plt.legend(UseNutrients)
plt.xlabel('budget')
plt.ylabel('log nutrient adequacy ratio')
plt.axhline(0)
plt.axvline(xref)

As before, we can also vary relative prices.  Here we trace out
nutritional adequacy varying the price of a single good:

In [1]:
scale = np.geomspace(.01,2,50)

ndf = pd.DataFrame({s*pbar[USE_GOOD]:np.log(nutrient_adequacy_ratio(xref/4,my_prices(USE_GOOD,pbar[USE_GOOD]*s),dbar))[UseNutrients] for s in scale}).T

fig,ax = plt.subplots()
ax.plot(ndf['Vitamin C'],ndf.index)
ax.axhline(pbar[USE_GOOD])
ax.axvline(0)

ax.set_ylabel('Price')
ax.set_xlabel('log nutrient adequacy ratio')